#
#  Use the following to "replace /dev/urandom
#
ACTION=="add", KERNEL=="srandom", MODE="0664", RUN+="/bin/bash -c '/usr/bin/srandom set'"
ACTION=="change", KERNEL=="srandom", MODE="0664", RUN+="/bin/bash -c '/usr/bin/srandom set'"
ACTION=="remove", KERNEL=="srandom", RUN+="/bin/bash -c '/usr/bin/srandom default'"
