# SPDX-License-Identifier: GPL-2.0-only

menu "Renesas Electronics Corporation Charger and Fuel Gauge support"

config IDT_P9415
	tristate "idtp9415 wireless Charger"
	depends on I2C
	help
	  Say Y to include support for idtp9415 wireless Charger.
	  idtp9415 is a wireless battery charger.
	  The driver supports charger enable/disable.
	  The driver reports the charger status via the power supply framework.
	  The driver controls idtp9415 via I2C and
	  supports device-tree interface.

config IDT_P9415_CAS
	tristate "idtp9415 wireless Charger"
	depends on I2C
	help
	  Say Y to include support for idtp9415 wireless Charger.
	  idtp9415 is a wireless battery charger.
	  The driver supports charger enable/disable.
	  The driver reports the charger status via the power supply framework.
	  The driver controls idtp9415 via I2C and
	  supports device-tree interface.

config IDT_P9418
	tristate "idtp9418 wireless Charger"
	depends on I2C
	help
	  Say Y to include support for idtp9418 wireless Charger.
	  idtp9418 is a wireless battery charger.
	  The driver supports charger enable/disable.
	  The driver reports the charger status via the power supply framework.
	  The driver controls idtp9418 via I2C and
	  supports device-tree interface.

endmenu
