config VBSWAP
	tristate "Fake block device for swap based on vnswap"
	depends on BLOCK && ZSWAP && !ZRAM
	default n

config VBSWAP_DISKSIZE
	int "vbswap disksize in gigabytes"
	depends on VBSWAP
	range 1 8
	default 2
